 <div>
  <% comments.each do |comment| %>
  <div>
    <%= comment.comment %>
    <% if resident_signed_in? %>
      <% if comment.resident_id == current_resident.id %>
        <%= link_to '削除', cat_comment_path(cat, comment), method: :delete, remote:true %>
      <% end %>
    <% elsif group_signed_in? %>
      <% if comment.group_id == current_group.id %>
        <%= link_to '削除', cat_comment_path(cat, comment), method: :delete, remote:true %>
      <% end %>
    <% end %>
  </div>
  <% end %>
</div>
<div>
  <% if resident_signed_in? %>
    <%= form_with model: Comment.new, url: cat_comments_path(cat), remote:true do |f| %>
    <%= f.hidden_field :resident_id, value: current_resident.id %>
    <%= f.text_area :comment %>
    <%= f.submit 'コメントする' %>
    <% end %>
  <% else %>
    <%= form_with model: Comment.new, url: cat_comments_path(cat), remote:true do |f| %>
    <%= f.hidden_field :group_id, value: current_group.id %>
    <%= f.text_area :comment %>
    <%= f.submit 'コメントする' %>
    <% end %>
  <% end %>
</div>

