<div class="container">
  <% comments.reverse_each do |comment| %>
    <% if comment.resident_id.present? %>
      <div class="row resident-comment align-items-center border-bottom">
      <div class="col-2 text-center pt-2">
        <h2 class="fas fa-user text-black-50"></h2>
      </div>
      <div class="col-8 comment-detail text-break">
        <%= comment.comment %>
      </div>
      <div class="col-2">
          <% if resident_signed_in? %>
            <% if comment.resident_id == current_resident.id %>
              <%= link_to '削除', cat_comment_path(cat, comment), method: :delete, remote:true, class: "btn-sm btn-danger float-right" %>
            <% end %>
          <% elsif group_signed_in? %>
            <% if comment.group_id == current_group.id %>
              <%= link_to '削除', cat_comment_path(cat, comment), method: :delete, remote:true, class: "btn-sm btn-danger float-left" %>
            <% end %>
          <% end %>
        </div>
      </div>
    <% else %>
      <div class="row group-comment align-items-center border-bottom">
        <div class="col-2">
          <% if resident_signed_in? %>
            <% if comment.resident_id == current_resident.id %>
              <%= link_to '削除', cat_comment_path(cat, comment), method: :delete, remote:true, class: "btn-sm btn-danger float-right" %>
            <% end %>
          <% elsif group_signed_in? %>
            <% if comment.group_id == current_group.id %>
              <%= link_to '削除', cat_comment_path(cat, comment), method: :delete, remote:true, class: "btn-sm btn-danger float-left" %>
            <% end %>
          <% end %>
        </div>
        <div class="col-8 text-right comment-detail text-break">
          <%= comment.comment %>
        </div>
        <div class="col-2 text-center pt-2">
          <h2 class="fas fa-users text-black-50"></h2>
        </div>
      </div>
    <% end %>
  <% end %>
</div>