<div class="container-fluid">
  <div class="row justify-content-center align-items-center" style="height: calc(100vh - 76px);">
     <%= form_with model: @resident, url: resident_path, class: "form-signup", local: true do |f| %>
      <div class="field mb-4 text-center">
        <%= image_tag 'logo.png', :size => '100x100' %>
      </div>
      <div class="field mb-2">
        <p class="fas fa-paw">名前</p>
        <%= f.text_field :name, autofocus: true, class: "form-control" %>
        <%= render "/layouts/error_messages", model: @resident, attribute: :name %>
      </div>
      <div class="field mb-2">
        <p class="fas fa-paw">メールアドレス</p>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
        <%= render "/layouts/error_messages", model: @resident, attribute: :email %>
      </div>
      <div class="field mb-2">
        <p class="fas fa-paw">郵便番号（ハイフンなし）</p>
        <%= f.text_field :postal_code, class: "form-control" %>
        <%= render "/layouts/error_messages", model: @resident, attribute: :postal_code %>
      </div>
      <div class="field mb-2">
        <p class="fas fa-paw">住所</p>
        <%= f.text_area :address, class: "form-control" %>
        <%= render "/layouts/error_messages", model: @resident, attribute: :address %>
      </div>
      <div class="actions text-center">
        <%= f.submit "編集", class: "btn btn-secondary btn-block" %>
      </div>
      <div class="text-right mt-2">
        <%= link_to '退会', resident_withdrawal_path, method: :patch, "data-confirm"=>"本当に退会しますか？" %>
        </div>
    <% end %>
  </div>
</div>
