<nav class="col-12 px-4 navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/"><%= image_tag 'logo.png', :size => '50x50' %></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <%= link_to 'マイページ', group_path, class: "nav-link fas fa-address-card" %>
      </li>
      <li class="nav-item">
        <%= link_to '保護団体', groups_path, class: "nav-link fas fa-users" %>
      </li>
       <li class="nav-item">
        <%= link_to 'マップ', cats_path, class: "nav-link fas fa-paw" %>
      </li>
       <li class="nav-item">
        <%= link_to 'ログアウト', destroy_group_session_path, method: :delete, class: "nav-link fas fa-sign-out-alt" %>
      </li>
      <li class="nav-item">
        <a data-toggle="modal" href="#exampleModalLong" class="fas fa-bell nav-link text-black-50" >通知</a>
      </li>
    </ul>
  </div>
</nav>
