<div class="col-10 mt-5 mx-auto">
  <div class="row">
    <div class="col-6" style="padding-top: 48px;">
      <div class="row cat-detail border-bottom" style="margin-bottom: 1vh;">
        <div class="col-5 border-right">
          <%= attachment_image_tag @cat, :image, format: 'jpeg', fallback: "no_image.jpg", class: "cat-detail_image" %>
        </div>
        <div class="col-7 overflow-auto" style="height: 100%;">
          <div>
            <h4 class="fas fa-paw text-black-50">依頼詳細</h4>
          </div>
          <div class="pt-3">
            <div>
              <!--入力時の改行、空白をそのまま表示する-->
            <%= safe_join(@cat.detail.split("\n"),tag(:br)) %>
            </div>
          </div>
        </div>
      </div>
      <div class="row cat-detail pt-1">
        <div class="col-5 border-right">
          <div style="height: 50%;">
            <div>
            <h4 class="fas fa-paw text-black-50">対応段階</h4>
            </div>
            <div class="pt-3">
              <%= @cat.handle.status %>
            </div>
          </div>
          <div class="text-center">
            <!--対応段階ボタンの設置-->
            <!--閲覧者が保護団体かどうか-->
            <% if group_signed_in? %>
            <!--閲覧している保護団体が対応不可かどうか-->
              <% unless @faileds.include?(current_group.id) %>
                <% if @status == 0 %>
                  <%= link_to "対応する", handle_status_path(id: @cat.handle, key: 1), method: :patch, "data-confirm"=>"この投稿に対応しますか？", class: "btn btn-success" %>
                <% end %>
                <% if @status == 1 %>
                  <% if @cat.handle.group_id == current_group.id %>
                    <%= link_to "対応完了", edit_handle_path(@cat.handle), class: "btn btn-info float-left" %>
                    <%= link_to "対応不可", handle_failed_path(@cat.handle), method: :patch, "data-confirm"=>"対応不可にすると以降この投稿に対応できません。よろしいですか？", class: "btn btn-danger float-right" %>
                  <% else %>
                    <p>他の団体が対応中です</p>
                  <% end %>
                <% else %>
                  <% if group_signed_in? && (@cat.handle.group_id == current_group.id) %>
                    <%= link_to '対応詳細の編集', edit_handle_path(@cat.handle), class: "btn btn-success" %>
                  <% end %>
                <% end %>
              <% else %>
                <P class="text-danger">対応不可</P>
              <% end %>
            <% end %>
          </div>
        </div>
        <div class="col-7 overflow-auto" style="height: 100%;">
          <div>
            <h4 class="fas fa-paw text-black-50">対応詳細</h4>
          </div>
          <div class="pt-3">
            <div>
              <% if @status != 2 %>
                <p>対応詳細はありません</p>
              <% else %>
                <%= safe_join(@cat.handle.detail.split("\n"),tag(:br)) %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--コメントと地図スペース-->
    <div class="col-6">
      <!--コメントと地図をタブで切り替え-->
      <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
          <a class="nav-item nav-link active fas fa-paw" id="nav-map-tab" data-toggle="tab" href="#nav-map" role="tab" aria-controls="nav-map" aria-selected="true">マップ</a>
          <% if @status >= 1 %>
            <% if resident_signed_in? && (@cat.resident_id == current_resident.id) %>
              <a class="nav-item nav-link fas fa-comments" id="nav-comment-tab" data-toggle="tab" href="#nav-comment" role="tab" aria-controls="nav-comment" aria-selected="false">コメント</a>
            <% elsif group_signed_in? && @cat.handle.group_id == current_group.id %>
              <a class="nav-item nav-link fas fa-comments" id="nav-comment-tab" data-toggle="tab" href="#nav-comment" role="tab" aria-controls="nav-comment" aria-selected="false">コメント</a>
            <% else %>
              <a class="nav-item nav-link disabled fas fa-comments" id="nav-comment-tab" data-toggle="tab" href="#nav-comment" role="tab" aria-controls="nav-comment" aria-selected="false">コメント</a>
            <% end %>
          <% else %>
            <a class="nav-item nav-link disabled fas fa-comments" id="nav-comment-tab" data-toggle="tab" href="#nav-comment" role="tab" aria-controls="nav-comment" aria-selected="false">コメント</a>
          <% end %>
        </div>
      </nav>
    <!--タブの中身-->
      <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-map" role="tabpanel" aria-labelledby="nav-map-tab"></div>
        <div class="tab-pane fade position-relative border rounded" id="nav-comment" role="tabpanel" aria-labelledby="nav-comment-tab">
          <div id="comment" class="overflow-auto">
            <%= render 'comments/index', comments: @comments, cat: @cat %>
          </div>
          <div class="position-absolute w-100", style="bottom: 0;">
            <%= render 'comments/form', comment: @comment, cat: @cat %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="text-center">
        <% if resident_signed_in? %>
          <% if current_resident.id == @cat.resident_id %>
            <%= link_to "編集", edit_cat_path, class: "btn btn-info mr-2" %>
            <%= link_to "削除", cat_path, method: :delete, "data-confirm"=>"本当に削除しますか？", class: "btn btn-danger" %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<!--地図のスクリプト-->
<script>
  function initMap(){
    var latLng = new google.maps.LatLng({lat: gon.cat['latitude'], lng: gon.cat['longitude']});
    var map = new google.maps.Map(document.getElementById('nav-map'),{
      center: latLng,
      zoom: 14
    });
    // マーカーの表示
    var marker = new google.maps.Marker({
      map: map,
      position: latLng
    });
  }
</script>