<!DOCTYPE html>
<html>
  <head>
    <title>Catmap</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!--gem gonが使用できるようにするための記述-->
    <%= include_gon %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!--googlemapを表示させるt目のscript-->
    <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['API_KEY']%>&callback=initMap" async defer></script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
